nvidia_ml_py==13.595.45
psutil==7.2.2
pyside6==6.11.0
pyside6_addons==6.11.0
pyside6_essentials==6.11.0
pytest==9.0.2
uvicorn==0.34.0
fastapi==0.135.3
ollama
unicorn
faster-whisper
transformers
soundfile
numpy
pyttsx3
torch
